# --- Build trees (never commit) ---
/build-*/
/**/build-*/
/**/CMakeFiles/
/**/CMakeCache.txt
/**/cmake_install.cmake
/**/*.dir/
/**/*.vcxproj*
/**/*.sln
/.vs/

# --- Generic binaries we DON'T want by default ---
*.exe
*.dll
*.pdb
*.lib
*.ilk
*.obj
*.o
*.so
*.dylib

# If you move your curated runtime into third_party/opencv/runtime, you can be even stricter:
!third_party/opencv/runtime/**
# and re-ignore any accidental build dirs under third_party:
third_party/**/build*/
third_party/**/CMakeFiles/
third_party/**/CMakeCache.txt
